body {
  background-color: #fefefe;
  color: #444;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin: 0 20px 0 20px;
}

/* For debugging layout */
div {
  border: 1px solid #eee;
}

.hidden_elem {
  display: none;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  display: inline-block;
  margin-right: 20px;
  padding: 8px 0;
}

.navbar li.selected {
  border-bottom: 2px solid #444;
  font-weight: bold;
}

.navbar a {
  color: #444;
  text-decoration: none;
}

.content {
  text-align: center;
  margin-top: 20px;
  min-width: 1000px;
}

.sidebar {
  display: inline-block;
  vertical-align: top;
  width: 25%;
}

.search-box {
  border-radius: 12px;
  border: 2px solid #ccc;
  height: 24px;
  margin-bottom: 12px;
  overflow: hidden;
  text-align: left;
  vertical-align: baseline;
  white-space: nowrap;
}

.search-box .glyphicon {
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  margin: 0 8px;
}

.search-box input {
  display: inline-block;
  font-size: 14px;
  line-height: 16px;
  width: 90%;
  width: calc(100% - 50px);
}

.collaspible-menu .group {
  border: 2px solid #ccc;
  height: 36px;
  padding-top: 4px;
  vertical-align: baseline;
}

.collaspible-menu .group .title {
  display: inline-block;
  float: left;
  line-height: 30px;
  padding-left: 12px;
  text-transform: uppercase;
}

.collaspible-menu .group .glyphicon {
  display: inline-block;
  float: right;
  line-height: 30px;
  padding-right: 12px;
}

.collaspible-menu .group .glyphicon.hidden_elem {
  display: none;
}

.collaspible-menu .commodity {
  font-size: 14px;
  padding: 8px 0;
  height: 200px;
  overflow: scroll;
  text-align: left;
}

.collaspible-menu .commodity ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-left: 16px;
}

.collaspible-menu .commodity li {
  cursor: pointer;
  line-height: 24px;
  text-transform: lowercase;
}

.collaspible-menu .commodity li:hover {
  padding-left: 8px;
  font-weight: bold;
}

.main {
  display: inline-block;
  width: 74%;
}

.main .summary {
  height: 40px;
}