body {
  background-color: #efefef;
  color: #333;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 300;
  margin: 0 auto;
  padding: 10px 20px 0 20px;
  width: 960px
}

body.about {
  padding: 0 20px;
  min-width: 1000px;
  /*background-color: #efefef;*/
}

/* For debugging layout */
div {
  /*border: 1px solid #eee;*/
}

h1 {
  font-size: 30px;
  font-weight: 700;
  margin: 0;
}

h4 {
  font-size: 13px;
  font-weight: 400;
  margin: 4px 0 0 0;
}

.green {
  color: #0ac775;
  /*color: rgba(10, 199, 117, 0.8);*/
}

.blue {
  color: #4eb3d3;
  /*color: rgba(78, 179, 211, 0.8);*/
}

.header .title {
  display: inline-block;
  float: left;
}

.header .info {
  display: inline-block;
/*  font-size: 13px;
  font-weight: 400;
  color: #999;*/
  float: right;
  margin-top: 18px;
}

.hidden_elem {
  display: none;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  display: inline-block;
  margin-right: 20px;
  padding: 8px 0;
}

.navbar li.selected {
  border-bottom: 2px solid #444;
  font-weight: bold;
}

.navbar a {
  color: #444;
  text-decoration: none;
}

.content {
  /*text-align: center;*/
  margin-top: 20px;
  /*min-width: 1000px;*/
}

.about .content {
  margin-top: 0;
}

.sidebar {
  /*display: inline-block;*/
  margin-right: 20px;
  vertical-align: top;
/*  width: 22%;
  width: calc(25% - 24px);*/
  width: 155px;
  float: left;
  /*border-bottom: 1px solid #ccc;*/
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 3px;
}

.collaspible-menu {
  /*transition-duration: 1s;*/
}

.collaspible-menu .group {
  border-bottom: 1px solid #efefef;
  height: 30px;
  /*padding-top: 4px;*/
  vertical-align: baseline;
  text-align: center;
}

.collaspible-menu:last-child .group{
  /*border-bottom: 0;*/
}

.collaspible-menu .group .title {
  display: inline-block;
  line-height: 30px;
  text-transform: uppercase;
  font-size: 13px;
  width: 100%;
}

.collaspible-menu.expanded .group {

}

.collaspible-menu.expanded .group .title {
  font-weight: 400;
  color: #666;
  /*letter-spacing: 1px;*/
}

.collaspible-menu .group .glyphicon {
  color: #666;
  display: inline-block;
  float: right;
  line-height: 52px;
  padding-right: 20px;
}

.collaspible-menu.collapsed .group {

}

.collaspible-menu.collapsed .group .glyphicon-chevron-up {
  display: none;
}

.collaspible-menu.expanded .group .glyphicon-chevron-down {
  display: none;
}

.collaspible-menu .commodity {
  font-size: 12px;
  font-weight: 300;
  color: #666;
  padding: 4px 0;
  height: auto;
  overflow: scroll;
  text-align: left;
}

.collaspible-menu.collapsed .commodity {
  display: none;
}

.collaspible-menu .commodity ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.collaspible-menu .commodity li {
  padding: 0.5px 20px;
  cursor: pointer;
  line-height: 20px;
  transition-duration: 0.05s;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.collaspible-menu .commodity li:hover {
  color: #0ac775;
}

.collaspible-menu .commodity .active,
.collaspible-menu .commodity .active:hover {
  color: #fff;
  background-color: #0ac775;
  font-weight: 400;
}


.main {
  /*display: inline-block;*/
  /*width: 74%;*/
  /*width: calc(100% - 175px);*/
  position: relative;
  width: 715px;
  float: left;
}

.main .header {}

.main .header .summary {
  display: inline-block;
  float: left;
  text-align: left;
}

#summary-key {
  font-size: 18px;
}

#summary-value {
  font-size: 24px;
}

.main .header .toggle {
  border: 1px solid #aaa;
  border-radius: 8px;
  display: inline-block;
  float: right;
  font-size: 14px;
  margin: 0 16px;
}

.main .header .toggle ul {
  list-style-type: none;
  margin: 0;
  margin-left: 20px;
  padding: 0;
}

.main .header .toggle li {
  display: inline-block;
  margin-right: 20px;
  padding: 8px 0;
}

.main .header .toggle li.selected {
  font-weight: bold;
}

p.clear {
  clear: both;
}

.main .viz {
  position: relative;
}

.main .viz .tooltip {
  background: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  margin: 12px;
  padding: 2px;
  pointer-events: none;
  position: absolute;
  visibility: hidden;
}

.main .viz .tooltip .container {
  border: 1px solid #666;
  padding: 8px 16px;
}

.main .listview {
  background: #efefef;
  height: 372px;
  left: 0;
  padding: 20px;
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
}

.listview .table-div {
  overflow: scroll;
}

.listview table {
  width: 100%;
/*  margin: 20px auto;*/
  padding-left: 20px;
  border-collapse: collapse;
}

.listview td {
  padding: 0 8px;
  height: 2em;
}

.listview tbody tr *:nth-child(3) {
  text-align: right;
}


#tooltip-state {
  font-weight: bold;
  font-size: 10px;
  line-height: 2em;
  text-transform: uppercase;
}

#tooltip-content {
  font-size: 14px;
  text-transform: lowercase;
}

.sideicons {
  width: 50px;
  float: left;
  padding-left: 20px;
}

.sideicons .section {
  margin-bottom: 15px;
  border-bottom: 1px solid #dbdbdb;
}

.sideicons .section:last-child {
  border-bottom: 0;
}

.icon {
  height: 50px;
  width: 50px;
  /*box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);*/
  border-radius: 50%;
  /*background-color: #fff;*/
  margin-bottom: 15px;
  transition-duration: 0.1s;
  cursor: pointer;
}

.icon-list-view {
  background-image: url("/icons/list-view.svg");
  background-repeat: no-repeat;
  /*margin-bottom: 15px*/
}

.icon-list-view:hover {
  background-image: url("/icons/list-view-hover.svg");
}

.icon-list-view.active,
.icon-list-view:active {
  background-image: url("/icons/list-view-active.svg");
}

.icon-map-view {
  background-image: url("/icons/map-view.svg");
  background-repeat: no-repeat;
  /*margin-bottom: 15px*/
}

.icon-map-view:hover {
  background-image: url("/icons/map-view-hover.svg");
}

.icon-map-view.active,
.icon-map-view:active {
  background-image: url("/icons/map-view-active.svg");
}

.icon-planted {
  background-image: url("/icons/planted.svg");
  background-repeat: no-repeat;
}

.icon-planted:hover {
  background-image: url("/icons/planted-hover.svg");
}

.icon-planted:active,
.icon-planted.active {
  background-image: url("/icons/planted-active.svg");
}

.icon-harvested {
  background-image: url("/icons/harvested.svg");
  background-repeat: no-repeat;
}

.icon-harvested:hover {
  background-image: url("/icons/harvested-hover.svg");
}

.icon-harvested:active,
.icon-harvested.active {
  background-image: url("/icons/harvested-active.svg");
}

.icon-yield {
  background-image: url("/icons/yield.svg");
  background-repeat: no-repeat;
}

.icon-yield:hover {
  background-image: url("/icons/yield-hover.svg");
}

.icon-yield.active,
.icon-yield:active {
  background-image: url("/icons/yield-active.svg");
}

.icon-production {
  background-image: url("/icons/production.svg");
  background-repeat: no-repeat;
}

.icon-production:hover {
  background-image: url("/icons/production-hover.svg");
}

.icon-production:active,
.icon-production.active {
  background-image: url("/icons/production-active.svg");
}

.icon-legend {
  background-image: url("/icons/legend.svg");
  background-repeat: no-repeat;
  cursor: default;
}

.icon-legend:hover {
  background-image: url("/icons/legend-hover.svg");
}

.icon-info {
  height: 16px;
  width: 16px;
  background-image: url("/icons/info.svg");
  background-repeat: no-repeat;
  margin-bottom: -3px;
  display: inline-block;
}

.icon + .tooltip {
  position: absolute;
}

.icon + .tooltip > .tooltip-inner {
  background-color: #333;
  color: #fff;
  padding: 10px;
  font-size: 12px;
  border-radius: 3px;
  margin-right: 12px;
}

.icon + .tooltip > .tooltip-inner .title {
  padding-top: 4px;
  font-size: 12px;
  line-height: 14px;
  font-weight: 300;
  text-align: center;
}

.legend-label {
  display: inline-block;
  height: 10px;
  vertical-align: top;
}

.concentration {
  /*border: 1px solid #fff;*/
  /*border-radius: 50%;*/
  height: 14px;
  width: 14px;
  display: inline-block;
  margin: 0 10px 0 0;
  padding: 0;
}

.concentration.level0 {
  background-color: #fff;
}

.concentration.level1 {
  background-color: #f0f9e8;
}

.concentration.level2 {
  background-color: #ccebc5;
}

.concentration.level3 {
  background-color: #a8ddb5;
}

.concentration.level4 {
  background-color: #7bccc4;
}

.concentration.level5 {
  background-color: #4eb3d3;
}

.concentration.level6 {
  background-color: #2b8cbe;
}

.concentration.level7 {
  background-color: #08589e;
}

.icon-legend div {
  display: block;
}

#label-stat {
  float: right;
  /*text-transform: uppercase;*/
}

#label-number {
  margin-right: 5px;
  float: right;
}

#label-unit {
  float: right;
}

#label-region {
  float: left;
}

#label-year {
  float: left;
}

.label {
  padding: 0 19px 0 50px;
  font-size: 14px;
  font-weight: 400;
  color: #666;
}

.label.bottom {
  font-size: 16px;
  font-weight: 300;
}

.landing {
  text-align: center;
  padding: 0 20px;
  min-height: 500px;
}

.landing:after {
  background-image: url("/img/cover.png");
  background-position: center center;
  background-size: cover;
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  min-width: 1000px;
  min-height: 500px;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.landing h3 {
  margin: 0;
  font-size: 14px;
  color: #fff;
  font-weight: 400;
  letter-spacing: 3px;
}

.landing .container {
  /*width: 660px;*/
  margin: 0 auto;
  top: 35%;
  width: 920px;
  position: absolute;
}

.landing .links {
  /*margin-top: 150px;*/
  font-size: 13px;
  color: #fff;
}

.landing .links a {

}

.landing .links a:before {

}

.landing .links .video:before {

}

.landing .links .link:before {

}

.uppercase {
  text-transform: uppercase;
}

.content section {
  margin: 20px auto;
}

h2 {
  font-size: 80px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.9);
  letter-spacing: 1px;
  /*color: #fff;*/
  margin: 0;
}

.clearfix {
  clear: both;
}

.col {
  width: 430px;
  margin-right: 50px;
  float: left;
}

.hr {
  display: block;
  height: 1px;
  background-color: #dbdbdb;
  margin: 40px 0;
  padding: 0;
}

.desc {
  font-size: 20px;
  color: #fff;
  margin: 20px 0 80px 0;
}

h5 {
  font-size: 32px;
  margin: 0 0 20px 0;
  font-weight: 400;
}

img {
  width: 100%;
  height: auto;
  margin-bottom: 40px;
}

h6 {
  font-size: 30px;
  font-weight: 100;
  margin: 30px 0;
}

.col p {
  font-size: 20px;
  font-weight: 100;
}

.btn {
  padding: 10px 25px;
  transition-duration: 0.1s;
}

.btn-default {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.5);
  border: 0;
  margin: 0 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.btn-default:hover {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  border: 0;
}

.btn-about {
  color: #666;
  background-color: rgba(255, 255, 255, 0.5);
  border: 0;
  margin: 0;
  font-size: 12px;
  font-weight: 400;
  float: right;
  margin-top: 18px;
  display: inline-block;
  /*text-transform: uppercase;*/
  padding: 8px 20px;
}

.btn-about:hover {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  border: 0;
}


.loading {
  background: #EFEFEF;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

@keyframes spinner {
    to {transform: rotate(360deg);}
}

@-webkit-keyframes spinner {
    to {-webkit-transform: rotate(360deg);}
}

.spinner {
  min-width: 36px;
  min-height: 36px;
}

.spinner:before {
  content: 'Loading…';
  position: absolute;
  top: 45%;
  left: 50%;
  width: 36px;
  height: 36px;
  margin-top: -18px;
  margin-left: -18px;
}

.spinner:not(:required):before {
  content: '';
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #4EB3D3;
  animation: spinner .6s linear infinite;
  -webkit-animation: spinner .6s linear infinite;
}

.loading .error {
  position: absolute;
  top: 45%;
  left: 0;
  text-align: center;
  width: 100%;
}

em {
  font-size: 16px;
  font-style: normal;
}

.percent-bar {
  background: rgba(78, 179, 211, 0.4);
  display: inline-block;
  height: 10px;
  position: relative;
  width: 140px;
}

.percent-fill {
  background: #4eb3d3;
  position: absolute;
  height: 100%;
}

.percent {
  display: inline-block;
  padding-right: 16px;
  text-align: right;
  width: 30%;
}

.bar-column {
  text-align: left;

* {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box
}

*:before,*:after {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box
}
